### Machine Learning Foundation Specialization

### University of Washington - Seattle

#### Week 2 Quiz 2 Predicting House Prices

In [1]:
## Created by Quincy Gu
## Created on 03/24/2020 22:03
## Gu.Qiangqiang@mayo.edu
## Mayo Clinic College of Medicine and Sciences

##### Instructions:

##### 1. Selection and summary statistics: In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price. Now, take the sales data, select only the houses with this zip code, and compute the average price. Save this result to answer the quiz at the end.

In [47]:
import turicreate
import turicreate.aggregate as agg
import math

In [48]:
## Load the data frame 
house_data = turicreate.SFrame('home_data.sframe')
## View the data frame we created 
house_data.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    770.0    | 10000.0  |  1.0   |     0      |  0   |     3     |  6.0  |
|    1960.0   |  5000.0  |  1.0   |     0      |  0   |     5     |  7.0  |
|    1680.0   |  8080.0  |  1.0   |     0      |  0   |     3     |  8.0  |
|    5420.0   | 101930.0 |  1.0   |     0      |  0   |     3     |  11.0 |
|    1715.0   |  6819.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    1060.0   |  9711.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1780.0   |  7470.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1890.0   |  6560.0  |  2.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   770.0    |      0.0      |  1933.0  |     0.0      |  98028  | 47.73792661 |
|   1050.0   |     910.0     |  1965.0  |     0.0      |  98136  |   47.52082  |
|   1680.0   |      0.0      |  1987.0  |     0.0      |  98074  | 47.61681228 |
|   3890.0   |     1530.0    |  2001.0  |     0.0      |  98053  | 47.65611835 |
|   1715.0   |      0.0      |  1995.0  |     0.0      |  98003  | 47.30972002 |
|   1060.0   |      0.0      |  1963.0  |     0.0      |  98198  | 47.40949984 |
|   1050.0   |     730.0     |  1960.0  |     0.0      |  98146  | 47.51229381 |
|   1890.0   |      0.0      |  2003.0  |     0.0      |  98038  | 47.36840673 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [65]:
## Find which zip code of Seattle had the highest average house sale price
zipcode_house_price = house_data.groupby(key_column_names = 'zipcode',operations={'Average Price':agg.MEAN('price')})
max_zipcode_price = max(zipcode_house_price['Average Price'])
max_price_zipcode = zipcode_house_price['zipcode'][zipcode_house_price['Average Price'] == max_zipcode_price][0]
print('The zip code of Seattle had the highest average house sale price is:',max_price_zipcode,'\n')

## select only the houses with this zip code, and compute the average price
aveprice_target_zipcode = house_data['price'][house_data['zipcode'] == '98039'].mean()
print('The average price of the houses with the target zipcode is:',aveprice_target_zipcode)

The zip code of Seattle had the highest average house sale price is: 98039

The average price of the houses with the target zipcode is: 2160606.5999999996

##### 2. Filtering data: One of the key features we used in our model was the number of square feet of living space (‘sqft_living’) in the house. For this part, we are going to use the idea of filtering (selecting) data.

#####    * In particular, we are going to use logical filters to select rows of an SFrame. You can find more info in the Logical Filter section of this documentation.

#####    * Using such filters, first select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft.

In [90]:
filter_house_data = house_data[(house_data['sqft_living'] > 2000) & (house_data['sqft_living'] < 4000)]

#####    * What fraction of the all houses have ‘sqft_living’ in this range? Save this result to answer the quiz at the end.

In [140]:
fraction_sqft_living = len(filter_house_data)/len(house_data)
print('The fraction of the all houses have ‘sqft_living’ in range of 2000 sqft to 4000 sqft is:',
      fraction_sqft_living)

The fraction of the all houses have ‘sqft_living’ in range of 2000 sqft to 4000 sqft is: 0.4215518437977143

##### 3. Building a regression model with several more features: In the sample notebook, we built two regression models to predict house prices, one using just ‘sqft_living’ and the other one using a few more features, we called this set

In [141]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

##### Now, going back to the original dataset, you will build a model using the following features:

In [142]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors 
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

##### Note that using copy and paste from this webpage to the Jupyter Notebook sometimes does not work perfectly in some operating systems, especially on Windows. For example, the quotes defining strings may not paste correctly. Please check carefully if you use copy & paste.

#####     * Compute the RMSE (root mean squared error) on the test_data for the model using just my_features, and for the one using advanced_features.
##### Note 1: both models must be trained on the original sales train dataset, not the one filtered on `sqft_living`.
##### Note 2: when doing the train-test split, make sure you use seed=0, so you get the same training and test sets, and thus results, as we do.
##### Note 3: in the module we discussed residual sum of squares (RSS) as an error metric for regression, but Turi Create uses root mean squared error (RMSE).

##### These are two common measures of error regression, and RMSE is simply the square root of the mean RSS:

##### RMSE = SQRT(RSS/N)

##### where N is the number of data points. RMSE can be more intuitive than RSS, since its units are the same as that of the target column in the data, in our case the unit is dollars ($), and doesn't grow with the number of data points, like the RSS does.

##### (Important note: when answering the question below using Turi Create, when you call the linear_regression.create() function, make sure you use the parameter validation_set=None, as done in the notebook you download above. When you use regression Turi Create, it sets aside a small random subset of the data to validate some parameters. This process can cause fluctuations in the final RMSE, so we will avoid it to make sure everyone gets the same answer.)

In [143]:
## Setting up the training and testing data
train_data,test_data = house_data.random_split(0.8, seed = 0)

In [150]:
## Building a regression model based on my_features on the training datasets
my_features_model = turicreate.linear_regression.create(train_data, target = 'price', features = my_features,
                                                       validation_set = None)

## Compute the RMSE of my_features_model
my_features_rmse = my_features_model.evaluate(test_data)['rmse']
print('The RMSE of my_features_model is:',my_features_rmse)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 75

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.053234     | 4086543.315840     | 189216.804808                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

The RMSE of my_features_model is: 180439.07296640595

In [151]:
## Building a regression model based on advanced_features on the training datasets
advanced_features_model = turicreate.linear_regression.create(train_data, 
                                                              target = 'price', 
                                                              features = advanced_features,
                                                             validation_set = None)

## Compute the RMSE of advanced_features_model
advanced_features_rmse = advanced_features_model.evaluate(test_data)['rmse']
print('The RMSE of advanced_features_model is:',advanced_features_rmse)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 87

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.040019     | 4336058.938762     | 162392.982702                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

The RMSE of advanced_features_model is: 155269.6579279753

#####      * What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features?Save this result to answer the quiz at the end.

In [152]:
## Calculate the difference in RMSE between the model trained with my_features and the one trained with advanced_features
diff_rmse = my_features_rmse - advanced_features_rmse
print('The difference in RMSE between the model trained with my_features and the one trained with advanced_features is: \n',
      diff_rmse)

The difference in RMSE between the model trained with my_features and the one trained with advanced_features is:
 25169.415038430656

#### Quiz Problems and Answers

##### Problem 1. Selection and summary statistics: We found the zip code with the highest average house price. What is the average house price of that zip code?

##### Answer: $2,160,607

##### Problem 2. Filtering data: What fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.?

##### Answer: Between 0.4 and 0.49

##### Problem 3. Building a regression model with several more features: What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features?

##### Answer: The RMSE of the model with advanced_featureslower by between $25,000 and $35,000
##### Note the "correct" answer provided the course webpage for this question is "The RMSE of the model with advanced_featureslower by less than $25,000."

##### However, based on my code, the correct answer for problem 3 is provided above. The reason why my answer is different than the answer provided on their course website is the original dataset they provided for this assignment is been uodated, but their answer posted on their course webpage is not updated, still based on their old version dataset.
##### The old version dataset could be accessed by the following link:
##### https://github.com/tuanavu/coursera-university-of-washington/blob/master/machine_learning/1_machine_learning_foundations/assignment/week2/home_data.gl.zip
##### Note I also attached this old version dataset and named "old_version_quiz2_data" in my github repository.
##### Feel free to try that if you are curious about this.

##### I, QUINCY GU, understand that submitting work that isn’t my own may result in permanent failure of this course or deactivation of my Coursera account.